* {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 20px;
}

body {
	background-color: #B6B7B2;
	color: #fff;
}





.logo {
    width: 50%;
    display: inline-block;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -3% 0;
}

.container {
    display: flex;
    align-items: center;
}

.icon img {
    padding: 0 1em;
}

.








.container-inicio {
	margin: 20px;
}

.inicio {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	align-items: center;
}

.foto-rosto {
    width: 100%;
    border-radius: 100%;
}

.missao-relatos {
	text-align: center;
    margin: 5px;
}

.resultados {
	color: #D93250;
}





.container-terapeuta {
	text-align: center;
	align-items: center;
	margin: 10px;
}

.terapia {
	margin: 10px;
}

.video {
    margin: 20px;
    box-shadow: 10px 10px 5px #59554C;
}

.nome {
    margin: 0 0 10px 0;
}

.explicacao {
	text-align: justify;
	border-radius: 10px;
	padding: 1em;
	background-color: #d93250;
	color: #F2EFDF;
}

.explicacao li{
    font-size: 70%;
}







.container-transformacao{
	text-align: center;
    margin: 20px 0;
}

.relato-titulo {
    margin: 6%;
}

.transformacao {
	display: grid;
	grid-template-columns: 40% 30% 30%;
	align-items: center;
}

.relato {
    width: 80%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px  #000;

}

.print {
    width: 60%;
    border-radius: 10px;
    background-color: #2B1B7B;
    padding: 3%;
}

.print:active {
    transform: scale(3);
}




.texto-ex {
    border-radius: 20px;
    padding: 10%;
    margin: 4px 10px;
    background-color: #1c71a6;
    box-shadow: 10px 10px 20px  #000;
    font-size: 50%;
}





.swiper-slide img {
    width: 50%;
    margin: 1em 0;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1.7em 0 0.3em 0;
}









@media (min-width: 600px) {
    .logo {
        padding: -10% 0;
        width: 40%;
    }





    .icon img {
        width: 50%;
    }

    .cabecalho {
        margin: -2% 0 -10% 0;
    }


    .container {
        padding: 1em 1em 0 1em;
    }



    .foto-rosto {
        width: 50%;
    }

	.container-terapeuta {
		display: grid;
		grid-template-columns: 50% 50%;
	}

    .resultados {
        font-size: 170%;
    }

    .missao-relatos {
        font-size: 150%;
    }




    .explicacao {
        margin: 0 5%;
    }
    .explicacao li {
        font-size: 120%;
        padding: 2%;
    }


    .video {
        width: 50%;
        height: 50%;
    }




    .texto-ex {
        margin: 20px 100px;
        font-size: 100%;
    }


    .print:hover {
        transition: 3s all;
        transform: scale(2);
    }




    .swiper-slide img {
        width: 50%;
        margin: 1em 3em;
    }
}